---
import ProgressBar from "../../components/progressbar";
import PortableText from "../../components/PortableText.astro";
import { useSanityClient, groq } from "astro-sanity";
import imageUrlBuilder from "@sanity/image-url";
import { Image } from "astro:assets";

const builder = imageUrlBuilder(useSanityClient());

function urlFor(source) {
  return String(builder.image(source));
}
import BlogLayout from "../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`);

  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

const { slug } = Astro.params;
const post = await useSanityClient().fetch(
  groq`*[_type == "post" && slug.current == $slug][0]`,
  {
    slug,
  },
);
---
<BlogLayout>
  <ProgressBar client:idle />
  <div class="md:px-10">
    <div
      class="relative flex flex-col justify-center overflow-hidden px-5 pt-8 lg:px-8 lg:pt-12"
    >
      <Image
        src={urlFor(post.mainImage)}
        class="m-auto min-w-full rounded-3xl object-cover lg:h-[30rem]"
        alt="Title Image"
        height="3000"
        width="3000"
      />
    </div>
  </div>
  <div class="main-article">
    <p
      class="article-intro !text-transparent !bg-clip-text !bg-gradient-to-br from-[#3494E6] to-[#EC6EAD]"
    >
      {post.summary}
    </p>
    <br />
    <h1 class="align-text-bottom">
      <svg
        width="70"
        height="70"
        class="hidden md:inline-block"
        viewBox="0 0 200 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_116_139)">
          <path
            d="M100 0L105.94 94.0603L200 100L105.94 105.94L100 200L94.0603 105.94L0 100L94.0603 94.0603L100 0Z"
            fill="url(#paint0_linear_116_139)"></path>
        </g>
        <defs>
          <linearGradient
            id="paint0_linear_116_139"
            x1="20.5"
            y1="16"
            x2="100"
            y2="200"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#ACAAFF"></stop>
            <stop offset="1" stop-color="#C0E8FF"></stop>
          </linearGradient>
          <clipPath id="clip0_116_139">
            <rect width="200" height="200" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
       Table of Contents
      <svg
        width="70"
        height="70"
        class="hidden md:inline-block"
        viewBox="0 0 200 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_116_139)">
          <path
            d="M100 0L105.94 94.0603L200 100L105.94 105.94L100 200L94.0603 105.94L0 100L94.0603 94.0603L100 0Z"
            fill="url(#paint0_linear_116_139)"></path>
        </g>
        <defs>
          <linearGradient
            id="paint0_linear_116_139"
            x1="20.5"
            y1="16"
            x2="100"
            y2="200"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#ACAAFF"></stop>
            <stop offset="1" stop-color="#C0E8FF"></stop>
          </linearGradient>
          <clipPath id="clip0_116_139">
            <rect width="200" height="200" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </h1>

    <div class="mb-10 grid md:grid-cols-2 gap-5">
      <a href="#1">{post.topic1}</a>
      {post.topic2 && <a href="#2">{post.topic2}</a>}
      {post.topic3 && <a href="#3">{post.topic3}</a>}
      <a href="#4">{post.topic4}</a>
      {post.topic5 && <a href="#5">{post.topic5}</a>}
    </div>
    <!-- <PortableText portableText={body} /> -->
    <h1 id="1" class="!text-chronicles-blue">
      {post.topic1}
    </h1>
    <PortableText portableText={post.top1body} />

    {
      post.topic2 && (
        <>
          <h1 id="2" class="!text-chronicles-purple">
            {post.topic2}
          </h1>
          <PortableText portableText={post.top2body} />
        </>
      )
    }

    {
      post.topic3 && (
        <>
          <h1 id="3" class="!text-chronicles-red">
            {post.topic3}
          </h1>
          <PortableText portableText={post.top3body} />
        </>
      )
    }

    <h1 id="4" class="!text-chronicles-turquoise">
      {post.topic4}
    </h1>
    <PortableText portableText={post.top4body} />

    {
      post.topic5 && (
        <>
          <h1 id="5" class="!text-chronicles-blue">
            {post.topic5}
          </h1>
          <PortableText portableText={post.top5body} />
        </>
      )
    }
    <h1 id="#6">Listen to Our Latest Podcast!</h1>
    <iframe
      src={post.spotify}
      width="100%"
      height="152"
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>
  </div>
</BlogLayout>
