---
const { img, link, title, desc } = Astro.props;
---

<div class="growwcards bg-transparent bg-clip-padding">
  <div
    class="flex flex-col bg-transparent bg-clip-padding py-5 pb-4 md:flex-row lg:max-w-[135ch] lg:rounded-3xl"
  >
    <a href={link}>
      <img
        src={img}
        class="object-cover w-full rounded-xl h-[20vh] md:w-[35rem] px-0 md:px-10 my-5 md:my-0"
      /></a
    >
    <div class="bg-inherit">
      <a
        href={link}
        class="link-underline link-underline-black font-robotomono text-4xl font-extrabold underline lg:text-5xl lg:no-underline bg-transparent"
      >
        {title}
      </a>
      <a href={link}>
        <p
          class="max-w-[70ch] py-7 text-lg font-medium text-slate-500 lg:text-xl bg-transparent"
        >
          {desc}
        </p>
      </a>
    </div>
  </div>
</div>
<div class="bg-inherit p-5"></div>
