---
const posties = [
  {
    title: "Demystifying Cryptography, Encryption, and so much more!",
    img: "/Ed1-Title.jpg",
    link: "/Edition1",
  },
  {
    title: "Demystifying Cryptography, Encryption, and so much more!",
    img: "/Ed1-Title.jpg",
    link: "/Edition1",
  },
  {
    title: "Demystifying Cryptography, Encryption, and so much more!",
    img: "/Ed1-Title.jpg",
    link: "/Edition1",
  },
  {
    title: "Demystifying Cryptography, Encryption, and so much more!",
    img: "/Ed1-Title.jpg",
    link: "/Edition1",
  },
  {
    title: "Demystifying Cryptography, Encryption, and so much more!",
    img: "/Ed1-Title.jpg",
    link: "/Edition1",
  },
  {
    title: "Demystifying Cryptography, Encryption, and so much more!",
    img: "/Ed1-Title.jpg",
    link: "/Edition1",
  },
];
const colours = [
  "bg-chronicles-blue",
  "bg-chronicles-red",
  "bg-chronicles-purple",
  "bg-chronicles-turquoise",
  "bg-chronicles-yellow",
  "bg-chronicles-orange",
];
let colourIndex = Math.floor(Math.random() * colours.length);

const getRandomIndex = (() => {
  // Create a copy of the colours array
  const indexes = [...Array(colours.length).keys()];

  // Initialize the currentIndex to the length of the indexes array
  let currentIndex = indexes.length;

  // Return a function that generates a random index from the indexes array
  return () => {
    // If the currentIndex reaches 0, reset it to the length of the indexes array
    if (currentIndex === 0) {
      currentIndex = indexes.length;
    }

    // Generate a random index between 0 and the currentIndex
    const randomIndex = Math.floor(Math.random() * currentIndex);

    // Decrement the currentIndex
    currentIndex--;

    // Swap the values at the currentIndex and the randomIndex
    const temp = indexes[currentIndex];
    indexes[currentIndex] = indexes[randomIndex];
    indexes[randomIndex] = temp;

    // Return the random index
    return indexes[currentIndex];
  };
})();
//why is
let tilt = "tilt-container";
let liltcard = "tilt-card";

import { useSanityClient } from "astro-sanity";

const posts = await useSanityClient().fetch(
  `*[_type == "post" && archived == false] | order(_updatedAt desc)`,
);

import imageUrlBuilder from "@sanity/image-url";
import { Image } from "astro:assets";
// Get a pre-configured url-builder from your sanity client
const builder = imageUrlBuilder(useSanityClient());

// Then we like to make a simple function like this that gives the
// builder an image and returns the builder for you to specify additional
// parameters:
function urlFor(source) {
  return String(builder.image(source));
}
---

<div
  class="lg:-mt-32 z-50 sticky gap-12 mx-auto min-h-[70vh] w-full md:px-20 leading-10 bg-chronicles-surface m-auto px-8 py-8 lg:py-10"
>
  <h1
    id="Archives"
    class="lg:pt-30 intro py-10 lg:pb-14 text-6xl md:text-5xl xl:text-6xl bg-transparent paytone text-chronicles-primary font-bold uppercase lg:max-w-[20ch] px-2"
  >
    Archives
  </h1>
  <section
    class="grid sm:grid-cols-2 lg:grid-cols-3 gap-20 bg-transparent min-w-full"
  >
    {
      posts.map((post) => {
        colourIndex = getRandomIndex();
        if (tilt == "tilt-container") {
          tilt = "tilt-container-pos";
        } else {
          tilt = "tilt-container";
        }
        if (liltcard == "tilt-card") {
          liltcard = "tilt-card-pos";
        } else {
          liltcard = "tilt-card";
        }

        return (
          <a href={`/posts/${post.slug.current}`} class={tilt}>
            <div
              class={`relative flex md:max-w-sm flex-col rounded-3xl text-gray-700 shadow-md p-6 bg-clip-padding drop-shadow-[16px_16px_0px_#111] md:drop-shadow-[32px_32px_0px_#111] ${colours[colourIndex]} border-8 border-slate-100 ${liltcard}`}
            >
              <div class="rounded-3xl relative m-0 overflow-hidden text-gray-700 bg-transparent shadow-none bg-clip-border max-h-[10rem] md:max-h-[17rem] lg:max-h-[15rem]">
                <img src={urlFor(post.mainImage)} />
              </div>
              <div class="p-2 pt-3 bg-transparent rounded-br-3xl rounded-bl-3xl w-full">
                <h4 class="bg-transparent font-sans text-base sm:text-lg lg:text-xl antialiased font-black text-black w-full">
                  {post.cardTitle}
                </h4>
              </div>
            </div>
          </a>
        );
      })
    }
    {
      posts.length == 2 && (
        <div
          class={`relative flex md:max-w-sm flex-col rounded-3xl text-gray-700 shadow-md p-6 bg-clip-padding drop-shadow-[16px_16px_0px_#111] md:drop-shadow-[32px_32px_0px_#111]  border-8 border-slate-100 ${liltcard}`}
        >
          <div class="rounded-3xl relative m-0 overflow-hidden text-gray-700 bg-transparent shadow-none bg-clip-border max-h-[10rem] md:max-h-[17rem] lg:max-h-[15rem]">
            <img
              src="https://images.unsplash.com/photo-1588665343610-04dfd562e2e7?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="ui/ux review check"
            />
          </div>
          <div class="p-2 pt-3 bg-transparent rounded-br-3xl rounded-bl-3xl w-full">
            <h4 class="bg-transparent font-sans text-lg sm:text-xl lg:text-2xl antialiased font-bold text-white w-full">
              More Posts Comming Soon! Stay Tuned!{" "}
            </h4>
          </div>
        </div>
      )
    }
    {
      posts.length == 1 && (
        <>
          <div
            class={`relative flex md:max-w-sm flex-col h-fit rounded-3xl text-gray-700 shadow-md p-6 bg-clip-padding drop-shadow-[16px_16px_0px_#111] md:drop-shadow-[32px_32px_0px_#111]  border-8 border-slate-100 ${liltcard}`}
          >
            <div class="rounded-3xl relative m-0 overflow-hidden text-gray-700 bg-transparent shadow-none bg-clip-border max-h-[10rem] md:max-h-[17rem] lg:max-h-[15rem]">
              <img src="/questionMark.jpg" alt="ui/ux review check" />
            </div>
            <div class="p-2 pt-3 bg-transparent rounded-br-3xl rounded-bl-3xl w-full">
              <h4 class="bg-transparent font-sans text-base sm:text-lg lg:text-xl antialiased font-bold text-white w-full">
                More Posts Comming Soon! Stay Tuned
              </h4>
            </div>
          </div>
          <div
            id="deepThoughtsContainer"
            class={`relative flex md:max-w-sm h-fit flex-col rounded-3xl text-gray-700 shadow-md p-6 bg-clip-padding drop-shadow-[16px_16px_0px_#111] md:drop-shadow-[32px_32px_0px_#111]  border-8 border-slate-100  ${liltcard}`}
          >
            <div class="p-2 pt-3 bg-transparent rounded-br-3xl rounded-bl-3xl w-full ">
              <h1 class="bg-transparent font-sans text-lg sm:text-xl lg:text-2xl antialiased font-bold text-white w-full pb-5">
                Some Thoughts
              </h1>

              <h4
                id="thoughtText"
                class="bg-transparent font-sans text-base sm:text-lg lg:text-2xl antialiased font-normal text-white w-full"
              >
                Ever realised how you are allways living in the past and
                whenever you take a photo, you are capturing a moment that has
                already passed?{" "}
              </h4>
            </div>
          </div>
        </>
      )
    }
  </section>

  <style>
    /* Add these styles to your custom CSS or style tag */
    .tilt-container {
      perspective: 1000px;
      background: transparent;
    }

    .tilt-card {
      transform-style: preserve-3d;
      transition: transform 0.5s ease;
    }

    .tilt-card:hover {
      transform: rotatey(-10deg);
    }

    .tilt-container-pos {
      perspective: 1000px;
      background: transparent;
    }

    .tilt-card-pos {
      transform-style: preserve-3d;
      transition: transform 0.5s ease;
    }

    .tilt-card-pos:hover {
      transform: rotatey(10deg);
    }
  </style>
  <script>
    const deepThoughts = [
      "Ever realized how you are always living in the past and whenever you take a photo, you are capturing a moment that has already passed?",
      "Imagine a world where robots can see and interpret the world just like humans. Fact: Computer vision technology is making this a reality!",
      "Clicking again? Your on to something! Keep going!",
      "In the vast expanse of cyberspace, there are digital highways carrying information at the speed of light. It's like magic, but it's the reality of fiber-optic communication.",
      "Did you know that your smartphone has more computing power than the computers used for the Apollo 11 moon landing in 1969? Technology sure has come a long way!",
      "Round and round, like a moth to a flickering flame. How long will you keep clicking?",
      "Picture this: A world without passwords! Biometric authentication, like fingerprint and facial recognition, is making it happen.",
      "The cloud is not actually in the sky. It's a network of servers that store and manage data. Your photos, documents, and more are floating somewhere in the digital realm.",
      "Quantum computers, unlike classical computers, use quantum bits or qubits, which can exist in multiple states simultaneously. It's like having superpowers in the world of computing.",
      "Did you know that the first computer programmer was a woman? Ada Lovelace, in the 19th century, wrote the first algorithm designed for implementation on Charles Babbage's analytical engine.",
      "We live in an era where cars can drive themselves. Autonomous vehicles use sensors and algorithms to navigate the roads, revolutionizing transportation.",
      "The Internet of Things (IoT) connects everyday devices to the internet, enabling them to send and receive data. Your fridge can now be part of the digital conversation!",
      "Virtual Reality (VR) can transport you to different worlds without leaving your room. It's like having a passport to the digital universe.",
      "Artificial Intelligence is not just a buzzword; it's shaping the future. From chatbots to smart assistants, AI is becoming an integral part of our daily lives.",
      "Fact: The code that took the first humans to the moon was less powerful than your smartphone. It's a testament to human ingenuity and the rapid advancement of technology.",
      "Imagine a world without Wi-Fi. It's hard to fathom, right? This wireless technology has become a fundamental part of our connected lives.",
      "Fact: The world's first website went live on August 6, 1991. It was dedicated to information about the World Wide Web project and how to set up a server.",
      "Encryption is like a digital lock that keeps your data safe. It's the reason you can send sensitive information over the internet without worries.",
      "3D printing allows you to create physical objects from digital models. It's like bringing your imagination to life, layer by layer.",
      "Blockchain technology, known for its role in cryptocurrencies, is a decentralized and secure way to record and verify transactions. It's changing the landscape of trust in digital interactions.",
      "Fact: The term 'bug' in computer science originated in 1947 when a moth caused a malfunction in the Harvard Mark II computer. Debugging became a common term for fixing glitches.",
      "As you click through these thoughts, remember that technology is a vast and ever-evolving landscape. Each click reveals a new facet of the digital world!",
    ];

    const container = document.getElementById("deepThoughtsContainer");
    const thoughtText = document.getElementById("thoughtText");
    let currentIndex = 0;

    container.addEventListener("click", () => {
      currentIndex = (currentIndex + 1) % deepThoughts.length; //
      thoughtText.textContent = deepThoughts[currentIndex];
    });
  </script>
</div>
